* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'LCD';
}

body {
  background-color: #282c34;
  color: white;
  max-height: 100%;
}

.container {
  text-align: center;
  height: 100vh;
  /* position: relative; */
}

.kalkulator {
  margin: 0 auto;
  background-color: #0f222c;
  position: relative;
  padding: 1rem;
  top: 10%;
  width: 40rem;
  /* padding: 20rem; */
  /* max-height: 100vh; */
  /* text-align: center; */
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  border-radius: 2rem;
  /* border: 0.1px solid white; */
  transition: 0.4s all ease;
  gap: 0.2rem;
}
.button {
  /* padding: 4rem; */
  /* margin: 1rem; */
  font-size: 2rem;
  /* width: 10rem; */
  height: 10rem;
  text-align: center;
  background-color: #0f222c;
  font-weight: bold;
  font-family: 'DS-Digital';
  border-radius: 50%;
  border-color: transparent;
  color: #fff;
  /* box-shadow: inset -1px 0 7px -1px black; */
  transition: 0.4s all ease;
}

img {
  width: 2rem;
  filter: invert(96%) sepia(5%) saturate(42%) hue-rotate(199deg)
    brightness(114%) contrast(100%);
}

.button:active {
  background-color: white;
}
.broj {
  font-size: 3.2rem;
}

.clear {
  color: red;
  font-size: 3.2rem;
}
.clear:active {
  background-color: rgba(255, 0, 0, 0.647);
}

.operator {
  background-color: #152e3b;
  color: #3be6d9;
  /* padding: 20px; */
  height: 10rem;
}

.operator:active {
  background-color: aqua;
}

.jednako:active {
  background-color: rgb(5, 195, 5);
}
.display {
  grid-column: 1/-1;
  height: 14rem;
  padding-right: 1.4rem;
  background-color: #0f222c;
  /* grid-row: 1/; */
  font-size: 5.2rem;
  text-align: right;
  transition: 0.3s all;
  /* border-bottom: 2px solid white; */
}

.multi {
  grid-column: 4/-1;
  grid-row: 2/3;
}
.plus {
  grid-column: 4/-1;
  grid-row: 3/4;
}
.minus {
  grid-column: 4/-1;
  grid-row: 4 /5;
}
.tocka {
  grid-column: 2/3;
  grid-row: 5/6;
}
